{% extends 'public.template.html.twig' %}

{% block title %}{{ parent() }} Administration{% endblock %}

{% block menuLinks %}
    {% include 'admin/back.menu.html.twig' %}
{% endblock %}

{%block htitle %}Administration | Articles{% endblock %}
{%block hdesc %}Nouvel article{% endblock %}

{% block boutonshauts %}

{% endblock %}

{% block articlePerOne %}
    <h1>Create new Article</h1>

    {{ include('admin_article/_form.html.twig') }}

    <a href="{{ path('app_admin_article_index') }}">back to list</a>
{% endblock %}
