{% extends 'public.template.html.twig' %}

{% block title %}{{ parent() }} Administration | Article | Nouvel article{% endblock %}

{% block menuLinks %}
    {% include 'admin/back.menu.html.twig' %}
{% endblock %}

{%block htitle %}Administration | Article | Nouvel article{% endblock %}
{%block hdesc %}Nouvel article{% endblock %}

{% block boutonshauts %}

{% endblock %}

{% block articlePerOne %}
    <h1>Création d'un nouvel article</h1>
    <p class="mt-2"><a class="btn btn-primary" href="{{ path('app_admin_article_index') }}">Retour à la liste</a></p>
    {{ include('admin_article/_form.html.twig') }}

    <p class="mt-2"><a class="btn btn-primary" href="{{ path('app_admin_article_index') }}">Retour à la liste</a></p>
{% endblock %}
