{% extends 'public.template.html.twig' %}

{% block title %}{{ parent() }} Administration{% endblock %}

{% block menuLinks %}
    {% include 'admin/back.menu.html.twig' %}
{% endblock %}

{%block htitle %}Administration{% endblock %}
{%block hdesc %}Accueil de l'administration{% endblock %}

{% block boutonshauts %}

{% endblock %}

{% block articlePerOne %}

        <div class="col-lg-4 mb-5 mb-lg-0">
            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
            <h2 class="h4 fw-bolder">Administration des articles</h2>
            <p class="mb-0">Gestion des articles uniquement par un administrateur</p>
            {% if is_granted('ROLE_ADMIN') %}
                <p><a class="btn btn-primary" href="">Gérer les articles</a></p>
            {% endif %}


        </div>

{% endblock %}

